@import '../layout/Header.styles.scss';
@import '../pods/list/list.styles.scss';
@import '../pods/cart/cart.styles.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}



.home {
  display: flex;
}